.main-first-article {
  width: 1200px;
  margin: 0 auto;
  padding: 205px 0 60px 0;
}

.main-first-article > .part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.main-first-article .text {
  font-weight: bold;
  margin: 0 10px;
  font-size: 20px;
}

.main-first-article > .part2 {
  font-size: 22px;
  text-align: center;
}
