.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}
.container {
  padding: 20px;
}

.head {
  font-weight: bold;
  font-size: xx-large;
}

.sub {
  font-size: large;
  font-weight: bold;
  color: lawngreen;
}
